@mixin settings-circle-button($color) {
    width: 20px;
    height: 20px;
    padding: 4px;
    background-color: $color;
    border-radius: 100%;
    transition: 0.2s transform, 0.2s background-color;

    &:hover {
        transform: scale(1.15);
    }

    svg {
        fill: #fff;
        pointer-events: none;
    }

    &:disabled {
        background-color: $main-gray-color;
        pointer-events: none;
    }
}
